@import 'style-reset';

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

@font-face {
	font-family: 'Rubik';
	src: url('/global/Rubik-VariableFont_wght.ttf') format('woff2 supports variations'),
       url('/global/Rubik-VariableFont_wght.ttf') format('woff2-variations');
	font-weight: 300 900;
}


//******* Basic Design ******//
.relative-container {
	position: relative;
	>* {
		position: absolute;
	}
}

//**** Responsive Design ****//
$breakpoint: (
	small: "(max-width: 575px)", // right over minimum window size
	medium: "(max-width: 719px)", // right under minimum window size
	xlarge: "(min-width: 1439px)" // 1441px
);

@mixin responsive-design($size) {
	@if map-has-key($breakpoint, $size) {
		@media screen and #{unquote(map-get($breakpoint, $size))} {
			@content;
		}
	} @else {
		@error "The $breakpoints varible has no value for the given key: (#{$size})";
	}
}


//***** Custom Funtions *****//
%debugging {
	border: 0.5px solid red;
	box-sizing: border-box;
}