[id^=icon] {
    &.outline {
        fill: none;
        stroke: inherit;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2;
        stroke-miterlimit: 10;
        overflow: visible;

        &.unblock-fill,
        .unblock-fill {
            fill: inherit;
        }
    }
}