@use "../global/style" as *;

// @use 'project-gallery';

body {
    > * {
        @include debugging;
    }
    margin: 0 8%;
}

a {
    text-decoration: none;
    color: inherit;
}



header {
    div {h3 { display: inline-block;}}

    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;

    div, nav {
        div { display: inline-block; }
    }

    .logo {
        font-size: 32px;
    }
    
    nav {
        flex-grow: 1;
    }
}

main {
    div {
        @include debugging;
        width: 50%;
        height: 100%;
        display: inline-block;
    }
    display: flex;
    height: 80vh;
}