@use '../global/style' as *;

.main-content {
    $margins: 26px;
    $max-width: 1000px;
    $xlarge: 1439px; // 1440px

    max-width: $max-width + $margins;
    padding: 0 $margins;
    margin: 0 auto;
    @media screen and (min-width: $xlarge) {
        max-width: none;
        margin: 0 calc((#{$xlarge + 1} - #{$max-width + $margins}) / 2);
    }
}



// header {
//     div {h3 { display: inline-block;}}

//     display: flex;
//     flex-direction: row;
//     align-items: center;

//     div, nav {
//         div { display: inline-block; }
//     }

//     .logo {
//         font-size: 32px;
//     }
    
//     nav {
//         flex-grow: 1;
//     }
// }

// a {
//     text-decoration: none;
//     color: inherit;
// }