.project-gallery {
    margin: 0 auto;
    max-width: 1000px;

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(328px, 1fr));
    @media screen and (min-width: 1440px) {
        margin: 0 188px;
        max-width: none;
    }

    column-gap: 12px;
    row-gap: 12px;
}