$-mobile-breakpoint: 480; //private

$breakpoint: (
	mobile: "(max-width: #{$-mobile-breakpoint}px)",
	small: "(max-width: 575px)", // right over minimum window size
	medium: "(max-width: 719px)", // right under minimum window size
	large: "(min-width: 1439px)" // 1441px
);

@mixin responsive-design($size) {
	@if map-has-key($breakpoint, $size) {
		@media screen and #{unquote(map-get($breakpoint, $size))} {
			@content;
		}
	} @else {
		@error "The $breakpoints varible has no value for the given key: (#{$size})";
	}
}


@media screen and (min-width: #{$-mobile-breakpoint}px) {
	*.mobile { display: none; }
}
@media screen and (max-width: #{$-mobile-breakpoint - 1}px) {
	*.desktop { display: none; }
}