@import '../global/style';

main {
    padding: 0 30px;
}

.column-container {
    width: 100%;
    padding: 0 4px;
    position: relative;
    &.small {
        z-index: 2;
    }
    &.medium {
        z-index: 3;
    }
    &.large {
        z-index: 4;
    }
}


.flex {
    display: flex;
    flex-direction: row;
}

.column img {
    vertical-align: middle;
    @extend %debugging;
}

.project-gallery .column-container {
    display: none;
}
@media screen and (max-width: 720px) {
    .project-gallery .column-container.small {
        display: block;
        width: 50%
    }
}
@media screen and (min-width: 719px) and (max-width: 1375px) {
    .project-gallery .column-container.medium {
        display: block;
        width: 33.33%
    }
}
@media screen and (min-width: 1376px) {
    .project-gallery .column-container.large {
        display: block;
        width: 25%;
    }
}