@import '../global/style';

main {
    padding: 0 30px;
}

.project-gallery {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 0 4px;
}
  /* Create two equal columns that sits next to each other */
.column {
    // flex: 25%;
    padding: 0 4px;
    height: min-content;
}
.column img {
    margin-top: 8px;
    vertical-align: middle;
    @extend %debugging;
}
// .empty {
//     width: 100%;
//     padding: 100px;
// }